
{% if data.videos %}

	{% if data.showIndex %}
		<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
			{% for page in data.pagebrowse.pageNumbers %}
				<sitemap>
					<loc>{{page.link}}</loc>
				</sitemap>
			{% endfor %}
		</sitemapindex>
	{% else %}

		<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
			{% for video in data.videos %}
				<url>
					<loc>{{ video.url }}</loc>
					<video:video>
						<video:thumbnail_loc>{{ video.image }}</video:thumbnail_loc>
						<video:title>{{video.title}}</video:title>
						<video:description>{{video.description}}</video:description>
						<video:player_loc allow_embed="yes">{{video.videoUrl}}</video:player_loc>
						<video:duration>{{video.duration}}</video:duration>
						<video:publication_date>{{video.publishdate|date("Y-m-d\TH:i:sP")}}</video:publication_date>
						<video:category>{{video.category}}</video:category>
					</video:video>
				</url>
		  {% endfor %}
		</urlset>

	{% endif %}
{% endif %}
